<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daftar Customer</title>
</head>
<body>
    <h1>Daftar Customer</h1>


    <div th:if="${#lists.isEmpty(dataCustomer)}">
        Data customer tidak ada
    </div>

    <table th:unless="${#lists.isEmpty(dataCustomer)}">
        <thead>
        <tr>
            <td>No. Pelanggan</td>
            <td>Nama Pelanggan</td>
            <td>Email</td>
            <td>No. HP</td>
            <td>&nbsp;</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${dataCustomer}">
            <td th:text="${c.number}">T-001</td>
            <td th:text="${c.name}">Test 001</td>
            <td th:text="${c.email}">t001@contoh.com</td>
            <td th:text="${c.mobilePhone}">08111111111111</td>
            <td>
                <a href="#">edit</a>
            </td>
        </tr>
        </tbody>
    </table>

</body>
</html>